.content-login{
	width: 100%; 
	text-align: center;
	background-size: cover;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.content-login form{
		width: 400px;
		height: 70%;
		background-color: #fff;
		padding: 20px;
		border-radius: 10px;	
		margin-top: 30px;
	}
	.content-login form img{
		border-radius: 100%;
	}

footer{
	width: 100%;
	height: 200px;
	background-color: #009900;
}
	